body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 15px;
    background-color: #0b0c2a;
    background-image: url("http://localhost:8080/Web-3-1.0-SNAPSHOT/pics/wilds.webp");
    backface-visibility: visible;
    background-size: cover;
    font-family: Roboto, sans-serif;
    color: #fff;
    font-size: 20px;
}

.header {
    background-color: #070720;
    display: flex;
    justify-content: space-between;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #070720;
}

.index-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
}
.header,
.content {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.clock-container {
    background-color: bisque;
    border-radius: 5px;
}

span {
    width: fit-content;
    height: fit-content;
}

span.left {
    text-align: left;
}

span.right {
    text-align: right;
}

.buttons-container .button-style {
    border-radius: 4px;
    box-shadow: inset #fff3;
    color: #fff;
    width: fit-content;
    padding: 6px;
    margin-right: 3px;
    margin-left: 2px;
    text-align: center;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    text-shadow: #00000013;
    transition: background-color 0.1s linear;
    background-color: #ffab51;
    border: 1px solid #ffab51;
}

.buttons-container .button-style:hover {
    border: 1px solid #ffab51;
    background-color: #ffb168ff;
    cursor: pointer;
}

.buttons-container-index {
    margin-top: 50px;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper-table {
    width: fit-content;
}

.button-container-main {
    margin-top: 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.graph {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin: 20px;
    background-color: bisque;
}